##This is the _PMDB configuration file
##Designed at Dec 27, 2019 by Xiaoquan Su
##Bioinformatics Group, Single-Cell Research Center, QIBEBT, CAS
##For Parallel-META 3.5 or higher
#
#Database config starts
#
#GreenGenes 13-8 16S rRNA, default database
#Database id, one single symbol
G
#Database domain, 0 for prokaryote, 1 for eukaryote
0
#Database name (also the path)
gg_13
#Database description
GreenGenes-13-8 (16S rRNA, 97% level)
#If contains the taxaonomy annotation, Y or N
Y
#If contains the phylogeny tree, Y or N
Y
#If contains the copy number, Y or N
Y
#If contains the function prediction information, Y or N
Y
#
#
#SILVA 16S rRNA
#Database id, one single symbol
S
#Database domain, 0 for prokaryote, 1 for eukaryote
0
#Database name (also the path)
silva_16s
#Database description
SILVA (16S rRNA, 97% level)
#If contains the taxaonomy annotation, Y or N
Y
#If contains the phylogeny tree, Y or N
Y
#If contains the copy number, Y or N
Y
#If contains the function prediction information, Y or N
Y
#
#
#Oral Core 16S rRNA
#Database id, one single symbol
O
#Database domain, 0 for prokaryote, 1 for eukaryote
0
#Database name (also the path)
oral_core
#Database description
Oral_Core (16S rRNA, 97% level)
#If contains the taxaonomy annotation, Y or N
Y
#If contains the phylogeny tree, Y or N
Y
#If contains the copy number, Y or N
Y
#If contains the function prediction information, Y or N
Y
#
#
#GreenGenes 13-8-99 16S rRNA
#Database id, one single symbol
C
#Database domain, 0 for prokaryote, 1 for eukaryote
0
#Database name (also the path)
gg_13_99
#Database description
GreenGenes-13-8 (16S rRNA, 99% level)
#If contains the taxaonomy annotation, Y or N
Y
#If contains the phylogeny tree, Y or N
Y
#If contains the copy number, Y or N
Y
#If contains the function prediction information, Y or N
Y
#
#
#GreenGenes 2 16S rRNA
#Database id, one single symbol
R
#Database domain, 0 for prokaryote, 1 for eukaryote
0
#Database name (also the path)
gg_2
#Database description
GreenGenes-2 (16S rRNA)
#If contains the taxaonomy annotation, Y or N
Y
#If contains the phylogeny tree, Y or N
Y
#If contains the copy number, Y or N
Y
#If contains the function prediction information, Y or N
Y
#
#
#Refseq 16S rRNA
#Database id, one single symbol
Q
#Database domain, 0 for prokaryote, 1 for eukaryote
0
#Database name (also the path)
refseq
#Database description
Refseq (16S rRNA, 100% level)
#If contains the taxaonomy annotation, Y or N
Y
#If contains the phylogeny tree, Y or N
Y
#If contains the copy number, Y or N
Y
#If contains the function prediction information, Y or N
Y
#
#
#SILVA 18S rRNA
#Database id, one single symbol
E
#Database domain, 0 for prokaryote, 1 for eukaryote
1
#Database name (also the path)
silva_18s
#Database description
SILVA (18S rRNA, 97% level)
#If contains the taxaonomy annotation, Y or N
Y
#If contains the phylogeny tree, Y or N
Y
#If contains the copy number, Y or N
N
#If contains the function prediction information, Y or N
N 
#
#
#ITS1
#Database id, one single symbol
T
#Database domain, 0 for prokaryote, 1 for eukaryote
1
#Database name (also the path)
its
#Database description
ITS (ITS1, 97% level)
#If contains the taxaonomy annotation, Y or N
Y
#If contains the phylogeny tree, Y or N
N
#If contains the copy number, Y or N
N
#If contains the function prediction information, Y or N
N
#
